# Introducción al lenguaje Python

*Universidad Central - Maestría en Analítica de Datos*

*Carlos Isaac Zainea Maya*

## Hello World!

El primer ejemplo clásico de programación es saludar, o sea, decirle al computador que muestre un saludo.

Para esto, se usa la función de Python llamada **print**.

Para colocar un saludo (o un **texto cualquiera**), se debe colocar entre **comillas (dobles o simples)** dentro del comando print.

Entonces, para que el computador muestre un saludo, por ejemplo **Hello, World!**, debemos escribir en ambiente de código

*print("Hello World!");*

In [1]:
print("Hello World!")

Hello World!

Note que el resultado se muestra sin las comillas dobles. Estas comillas dobles se usan para decirle al computador que vamos a ingresar texto.

Si quisieramos escribir con un salto de linea escribimos "\n" así al escribir `print("hola\nmundo")` tenemos:

`hola
mundo`

In [2]:
print("hola\nmundo")

hola
mundo

### Ejercicio 1

Hacer un código que le diga al computador que devuelva el texto:
*****
>*Sólo sé ...*  
*... que nada sé.*
 ***

In [3]:
print("Sólo sé ... \n...que nada sé")

Sólo sé ...
...que nada sé

In [6]:
print("Las rosas son rojas,\nEl cielo es azul, \ny todavía no se hacer poemas.")

Las rosas son rojas,
El cielo es azul,
y todavía no se hacer poemas.

## Indentación en Python y un ejemplo básico de programación estructurada: *el condicional*

En este pequeño módulo explicaremos el funcionamiento de un condicional `si *** entonces ***` y la importancia de la identación en **Python**.

### Condicionales

Un condicional es una sentencia lógica que retorna un valor deacuerdo al valor preliminar obtenido de una regla o condición. El ejemplo más sencillo corresponde a las expresiones de la forma `si *** entonces ***` que definen una regla que retornará su valor según la condición después del si, por ejemplo:

**Si** *me saco más de 3.0* **entonces** *paso la materia*. 

> En este caso, si saco 2.5 pierdo; pero si saco 3.3 paso.
 El resultado según este condicional depende de la nota obtenida.

Un diagrama que expresa el funcionamiento de esta regla lógica es: 

![diagramadeflujo-condicional](https://desarrolloweb.com/articulos/images/algoritmos/ordinograma_si_doble.gif)

*Tomado de: [Desarrollo Web - Estructuras condicionales (https://desarrolloweb.com/articulos/2225.php)](https://desarrolloweb.com/articulos/2225.php)

### Identación 
Indentar significa **mover un bloque de texto hacia la derecha**, dejando una serie de espacios o un tabulador para distinguirlo del texto alineado a la izquierda. **Indentar** es un anglicismo, realmente se debería decir **sangrado** o aplicar **sangría**.

Por ejemplo:

> Este texto está indentado (sangrado).

En **Python**, la identación es muy importante, pues indica un **Bloque de código** bajo un operador lógico.

### Ejemplo: Condicionales en Python

Para escribir un condicional en Python usamos la siguiente estructura, debemos tener cuidado con los dos putnos y los espacios que usamos para indentar:

```
if **(la condición a validar)**:
   (al menos un espacio) **El resultado si la condición es verdadera**  
```
Por ejemplo:

In [11]:
if 1>3:
    print("Five is greater than Three")

**Sin la indentación**, el código produce un **error**:

In [14]:
if 5>3:
print("Five is greater than Three");

IndentationError: expected an indented block (<ipython-input-14-6f06bd29686c>, line 2)

No importa cuántos espacios en blanco se dejen, siempre y cuando sea **al menos uno**:

In [15]:
if 5 > 3:
 print("Five is greater than Three")  
if 5 > 3:
        print("Five is greater than Three")

Five is greater than Three
Five is greater than Three

Si la condición no se satisface entonces no se hace nada:

In [16]:
if 2 > 3:
        print("Two is greater than Three")

## Intermedio: Las expresiones booleanas

En el anterior ejemplo, después del ` if `  escribimos una condición que podía ser falsa o verdadera, este tipo de expresiones en Python se conocen como expresiones booleanas y el resultado al ejeciutar este tipo de expresiones es **Falso** o **Verdadero**.

In [18]:
True #Una expresión directa de un valor booleano

True

In [20]:
5>3 #Usando números

True

In [21]:
4<4

False

In [67]:
5!=5 ##  Pregunta si dos valores son distintos

False

In [68]:
4!=5

True

In [71]:
3==3 ##  Pregunta si dos valores son iguales

True

In [70]:
4==3

False

## If - Else
A no ser que definamos un resultado para cuando no se satisfaga la condición, usamos `else`, nuevamente observe el uso de los dos puntos y el nivel de identación de `if` y `else`:

```
if **(la condición a validar)**:
   (al menos un espacio) **El resultado si la condición es verdadera**  
else:
    (al menos un espacio) **El resultado si la condición es falsa**  
```

**Ejemplo:**

In [22]:
if 2 > 3:
    print("Two is greater than Three")
else:
    print("Two is smaller than Three")

Two is smaller than Three

In [26]:
X=input("Numero de cedula: ") ## input permite que el usuario ingrese valores en la consola

Numero de cedula:  87654321

In [28]:
X ## Es una letra que aloja el valor guardado hace un momento (variable)

'87654321'

> Observe que el input guardo el número entre comillas, esto significa que lo considera como texto, la función `int ()` permitirá que lo lea como un número entero:

In [29]:
int(X)

87654321

In [30]:
X+1 #Aquí tenemos errores porque X es texto y 1 es un número entero

TypeError: can only concatenate str (not "int") to str

In [32]:
int(X)+1 #Aquí no tenemos problemas porque int convierte mi texto en número entero

87654322

# Variables en Python

## Variables Locales:

Una variable sirve para **guardar un valor específico**, ya sea **numérico**, **texto** u otro [**Tipo de Dato**](https://www.w3schools.com/python/python_datatypes.asp) con el nombre con la que se nombre dicha variable:

In [33]:
# Asignamos 1 a la variable x

x=1;

print("El valor de la variable x es ",x);

# Asignamos "I'm ready to code!" a la variable y

y="I'm ready to code!";

print("El valor de la variable y es",y);

El valor de la variable x es  1
El valor de la variable y es I'm ready to code!

In [38]:
X

'87654321'

## Reglas de Creación de Variables:

* El nombre de una variable **debe comenzar** con una letra ó con _ .

* El nombre de una variable **no puede comenzar** con un número.

* El nombre de una variable **sólo puede contener** carácteres alfa-numéricos.

* El nombre de una variable tiene **sensibilidad** a **mayúsculas** y **minúsculas** (x es diferente de X).

### Ejercicio 2

Hacer un código que le diga al computador que devuelva los textos **Tengo** *my_age* **años**, donde *my_age* es una variable que tenga asignada su edad.

In [39]:
my_age=input("Escriba su edad:")
print("Tengo", my_age,"años")

Escriba su edad: 31

Tengo 31 años

In [40]:
my_age=25
print("Tengo",my_age, "años")

Tengo 25 años

In [45]:
my_age=input("Escriba su edad:")
my_age=float(my_age)
print("Hoy tengo", my_age,"años y en 2022 tendré", my_age+1)

Escriba su edad: 31

Hoy tengo 31.0 años y en 2022 tendré 32.0

## Mi calculadora de IVA

A partir del valor total de compra se calcula el iva y el valor del artículo sin iva:

In [46]:
Compra= input ("Escriba el valor de la compra sin IVA: ") 
Compra= float(Compra) 
print ("El total de la compra sería" , Compra*(1.19))

Escriba el valor de la compra sin IVA:  5200000

El total de la compra sería 6188000.0

### Ejemplo

El siguiente código calcula la longitud del nombre y escribe una frase acorde a la longitud. Observe que en el comando `print()` , `sep=` es un parámetro que separa los valores ingresados dentro de la función print. Como vemos, escribimos `N='Su_nombre'` eso asigna a la letra N el texto *Tu_nombre*. Cambie  `Su_nombre` por su verdadero nombre y explique  como funciona el código.

In [47]:
len('Hola')

4

In [51]:
N='Isaac'# cambiar 'Su_nombre' por su verdadero nombre
if len(N)>4:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

Isaac es un nombre muy largo

Permitamos que el usuario ingrese el nombre con el comando `input()`

In [54]:
N=input('Su_nombre_completo: ') 
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

Su_nombre_completo:  Isaac

Isaac es un nombre muy corto

In [55]:
N=input('Su_nombre_completo: ') 
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep="         ")

Su_nombre_completo:  Isaac

Isaac         es un nombre muy corto

In [65]:
20/6

3.3333333333333335

In [75]:
Ced=input("Número de Cédula: ")
Dia=input("Día")

if (int(Ced)+int(Dia))%2==0:
    A="NO PUEDE SALIR"
else:
    A="SÍ PUEDE SALIR"
    
print("Estimado usuario con cédula",Ced," El día de hoy, ",Dia)
print(A)

Número de Cédula:  1231
Día 1

Estimado usuario con cédula 1231  El día de hoy,  1
NO PUEDE SALIR

## Múltiples Asignaciones:

Es posible asignar valores a diferentes variables en una línea de código:

In [1]:
# Asignación múltiple

w, x, y, z = "Apple", "Watermelon", "Grape", 28;

print(w);
print(x);
print(y);
print(z);
print(w,x,y,z+2,sep=", ");

Apple
Watermelon
Grape
28
Apple, Watermelon, Grape, 30

In [2]:
x=complex(2,4)

In [3]:
x

(2+4j)

In [8]:
type(z)

int

`type()` es un comando que nos permite determinar el tipo de variable a la que hacemos referencia.

In [ ]:
type(w)

También es posible asignar un **mismo valor** a diferentes variables:

In [ ]:
# Asignación múltiple del mismo valor

x1 = x2 = x3 = 0.5;
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);
x2=0.4
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);

Cuidado con las variables no asignadas. Generan error:

In [ ]:
n # Variable sin asignar

## Suma de Variables

Python es tan sencillo e intutivo, que es posible sumar diferentes variables y sumarlas con el símbolo **+**. Cuando las variables son numéricas, se **suman matemáticamente** y cuando es texto se **concatenan**.

In [ ]:
# Sumar dos textos

x = "Python is ";
y = "awesome";
z =  x + y;
print(z);

# Sumar dos números

n1 = 1;
n2 = 5;
suma = n1 +n2;
print(suma);

# Escribir texto y números

print(x+"the number",n1);

En el apartado anterior es claro que usamos dos tipos de variables unas textuales y otras numéricas, profundicemos en estos temas.

# Numeros

Respecto a los números en Python tenemos tres tipos de datos: los enteros (*int*), los números con parte fraccionaria (*float*) y los complejos (*complex*). La fortuna de que Python reconozca variables numéricas nos permite usarla como una calculadora simple, podemos ejecutar operaciones muy sencillas teniendo en cuenta la siguiente tabla:

| **Operador** | **Descripción** |
| :---: | :---: |
|`+`|Suma|
|`-`|Resta|
|`*`|Multiplicación|
|`/`|División|
|`**`|Potencia|

### Ejemplo 2
 Si queremos operar:
 
 $$ 5\times(3-5)^2-\cfrac{6}{(9)^{1/2}}$$
 
 tenemos que escribir:

In [ ]:
5*(3-5)**2-(6)/(9**(1/2))

*Recuerde oprimir [Shift]+[Enter]*

### Ejercicio 4
Es muy importante usar bien los paréntesis, el uso o desuso puede generar problemas graves en las cuentas, encuentre el error y describa lo que hizo la máquina en los siguientes casos respecto a la operación anterior:

In [ ]:
5*3-5**2-(6)/(9**(1/2))

In [ ]:
5*(3-5)**2-6/(9**1/2)

In [ ]:
5*(3-5)**2-6/9**1/2

In [ ]:
5*3-5**2-6/9**1/2

La división es una operación bien especial pues la mayoría de ocasiones produce un número con parte fraccionaria. Sin embargo, cuando estabamos pequeños nos enseñaron a dividir enteros dando como respuesta un entero llamado cociente y lo que hacia falta para completar la división, un número llamado residuo. En Python podemos calcular esos valores con `//` para el cociente y `%`para el residuo. Por ejemplo, sabemos que:

$$ 20 \div 3 = 6 \ \ \ \text{ con residuo } 2$$
tenemos:

In [ ]:
20//3

In [ ]:
20%3

Python Tambien reconoce los números complejos. El valor imaginario se lo asigna a la letra `j`

In [ ]:
3+(-4)**(1/2) # Recordemos un poquito de nuestras matemáticas

Finalmente, una función elemental y util para el tratamiento de números decimales es `round`. Lo usamos para redodendear los valores a uno con el decimal que escojamos. Tenemos:

In [ ]:
n1=47/3
n1

In [ ]:
n2=round(n1)
n2

In [ ]:
n3=round(n1,3)
n3

In [ ]:
?

## Textos

Los textos son expresiones que representan una cadena de caracteres, utiles para escribir mensajes y combinarlos con valores que generemos en nuestros procesamientos. Para escribi un texto en Python usamos comillas simples: `'...'` o comillas dobles: `"..."`. Combinamos comillas para poner comillas adentro:

In [ ]:
a='Texto simple escrito entre comillas simples'
print(a)
a

In [ ]:
b="Texto simple escrito entre comillas dobles"
print(b)
b

In [ ]:
c='Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'
print(c)
c

In [ ]:
d="Texto simple escrito entre comillas dobles que necesita 'adentrico' comillas simples"
print(d)
d

Como vimos, la función print es la que nos permite imprimir estos mensajes. El texto \n indica una nueva linea en el texto:

In [ ]:
print("Una línea\notra línea")

No obstante, a veces necesitamos escribir  \n en un mensaje:

In [ ]:
print('La ruta del archivo es C:\nombres\archivo.ipynb')

En este caso la aparición de \ daño el mensaje, para resolver el problema escribimos r antes:

In [ ]:
print(r'La ruta del archivo es C:\nombres\archivo.ipynb')

Finalmente, podemos recorrer los valores de la cadena de texto de la siguiente forma:

In [ ]:
texto="cuidado con el orden"

In [ ]:
texto[7]

In [ ]:
texto[10]

In [ ]:
texto[0:5]

In [ ]:
texto[5:9]

In [ ]:
texto[-1]

In [ ]:
texto[-3:]

In [ ]:
list(texto)

In [ ]:
texto.split()

## Listas 

Tambien podemos crear listas y arreglos en Python usando `[ ... ]`, los elementos de la lista se separan por comas.

In [ ]:
primos=[2,3,5,7,11,13,17,19]

In [ ]:
len(primos)

Igual que las cadenas de texto se pueden explorar los elementos usando `nombredelalista[pos] `, donde pos es la posición del elemento.

In [ ]:
primos[0] #0 siempre denota al primer elemento

In [ ]:
primos [-6]

In [ ]:
primos[8]

se pueden adicionar elementos a la lista con la función `nombredelalista.append() `

In [ ]:
type(primos)

In [ ]:
print("Antes: ", primos)
primos.append(23)
print("Después: ", primos)

Así mismo, los elemento se pueden modificar:

In [ ]:
print("Antes: ",primos)
primos[0]=1
print("Después: ",primos)

o eliminar:

In [ ]:
print("Antes: ",primos)
primos[0:5]=[]
print("Después: ",primos)

In [ ]:
primos10=[2,3,5,7]
primos1020=[11,13,17,19]
primos2030=[23,29]

In [ ]:
primos1020.extend(primos2030)
primos1020
primos10.extend(primos1020)

In [ ]:
print(primos10)

In [ ]:
primos.append(17)
primos

In [ ]:
primos.index(17)

In [ ]:
primos.remove(17)

In [ ]:
primos.append()

In [ ]:
primos

También se hacen listas de listas, se conocen como arreglos y si todas las listas tienen la misma cantidad de elementos las llamamos matrices:

In [ ]:
Cel=[[7,8,9],[4,5,6],[1,2,3]]

In [ ]:
print(Cel)

In [ ]:
Cel[0]

In [ ]:
Cel[0][0]

In [ ]:
Saludo=["Hola","Qué tal"]
Despido=["Adios","Feliz día"]